main.home > section {
    box-sizing: border-box;
    padding: 50px;
    min-height: 500px;
    padding-inline: 165px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 20px;
}

main.home > section h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1em;
}

main.home > section h2 {
    font-size: 32px;
    font-weight: 500;
}

main.home > section p {
    color: var(--neutral-light);
    font-size: 18px;
    line-height: 1.5em;
}

main.home button.primary, 
main.home button.secondary {
    padding-inline: 25px;
    padding-block: 13px;
    border-radius: 5px;
    border: 2px solid;
    cursor: pointer;
    box-shadow: 0 5px 15px -12px var(--main-color);
    background-color: transparent;
    transition: 200ms ease-in-out;
    font-size: 14px;
    font-weight: 500;
}

main.home button.primary:hover, 
main.home button.secondary:hover {
    background-color: transparent;
}

main.home button.primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}
main.home button.primary:hover { color: var(--main-color) }

main.home button.secondary {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    color: #555;

}
main.home button.secondary:hover { border-color: var(--neutral-light) }

main.home > section h1,
main.home > section h2 {
    grid-area: title;
    margin: 0;
}


main.home > section img {
    grid-area: image;
    display: block;
    margin-block: auto;
}

main.home > section .image-container {
    grid-area: image;
}

main.home > section p {
    grid-area: description;
}

main.home > section .buttons {
    margin-top: 15px;
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

main.home section.shape-right::before,
main.home section.shape-left::before {
    bottom: 35px;
    z-index: -1;
    position: absolute;
    content: "";
    height: 350px;
    background-color: var(--main-color);
}

@media (max-width: 1400px) and (min-width: 770px){
    main.home > section {
        padding-inline: 5vw;
    }

    main.home > section > .content .image-container {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: min-content;
        margin-block: auto;
    }

    main.home > section > .content .image-container img {
        width: 100%;
    }
}

@media (max-width: 770px) {

    main.home > section {
        box-sizing: border-box;
        min-height: 500px;
        padding-inline: 35px;
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    main.home > section h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.1em;
    }
    
    main.home > section h2 {
        font-size: 24px;
        font-weight: 500;
    }
    
    main.home > section p {
        color: var(--neutral-light);
        font-size: 15px;
        line-height: 1.5em;
    }

}